<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/login.css")
        
    body
        .cover
            .box
             
                form(method="post" action="/login")

                    h1 LOGIN
                    br
                    input(type="text" placeholder="Email" required)
                    br
                    input(type="password" placeholder="password" required)
                    br
                    button(type="submit") Login
                    br
                    a(href="/create_account") New user?